$card-width:200px;
$card-height:403px;
$cards-gap-y:50px;
$cards-gap-x:48px;
$card-border-radius:5px;
$image-border-color:#f3f3f3;
$image-border: 3px;
$image-padding: 13px;

@import "buy button";
@import "stars block";

.main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: ($card-width*4)+($cards-gap-x*3) ;
  margin: 50px auto;
}

.main-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px -$image-border - $image-padding 14px 15px;
  max-width: $card-width;
  border-radius: $card-border-radius;
  border: 1px solid $image-border-color;
}

.main-card__image {
  width: 160px;
  height: 134px;
  padding: $image-padding 2px;
  margin-bottom: 29px;
  border: $image-border solid transparent;
  transition: transform 1s, border 0s, box-sizing 1s;

  &:hover {
    border: $image-border solid $image-border-color;
    transform: scale(1.2);
    max-width: 200px;
    max-height: 200px;
  }
}

.main-card__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 5px;
}

.main-card__code {
  font-size: 11px;
  line-height: 13px;
  margin: 0 0 15px;
}

.main-card:nth-child(n+5) {
  margin-top: 50px;
}

.main-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  margin: 0 0 20px;

  .main-card__review {
    font-size: 11px;
    line-height: 13px;
  }
}

.card-value {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .card-value__caption {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }

  .card-value__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px;
  }
}
